<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/Logo.png" style="width: 150px; height: auto;">
  </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret"  data-toggle="dropdown" role="button">
            <i class="fa-solid fa-landmark-dome"></i>
            <span class="nav-link-inner--text">Categories</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a routerLinkActive="active" [routerLink]="['/books']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Books</h6>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/art']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Arts</h6>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/politics']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Politics</h5>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/sport']" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-info rounded-circle text-white">
                </div>
                <div class="media-body ml-3">
                    <h5 class="heading text-info mb-md-1">Sports</h5>
                </div>
            </a>
              
              
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
              <a [routerLink]="['/landing']" class="nav-link-inner--text text-white">Terms & conditions</a>
          </a>
      </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          
        </li> <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
          
        </li>
        <li class="nav-item">
      
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/register']"  class="btn btn-neutral btn-icon">
            <span class="nav-link-inner--text">Register</span>
          </a>
        </li>
        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a [routerLink]="['/login']"  class="btn btn-neutral btn-icon">
            <span class="nav-link-inner--text">Login</span>
          </a>
        </li>
        <div class="col-6 collapse-brand">
          <a [routerLink]="['/user-profile']">
            <img src="./assets/img/brand/image.png"style="width: 50px; height: auto;">
          </a>
        </div>
      </ul>
    </div>
  </div>
</nav>
